@model FileExcelModel
@{
    ViewData["Title"] = "Contrato QR - Prestadores de Servicios Depto. Salud - Quilicura";
}

<div class="container">
    <div class="text-center">
        <h2 class="text-black py-5">
            Generador de QR
            <span class="text-info">
                Prestadores de Servicios Depto. Salud - Quilicura
            </span>
        </h2>
        <div class="py-3">
            <form method="post" class="row gap-2">
                <div class="col-md-8">
                    <input class="form-control" name="texto" id="texto" placeholder="Introduzca Rut del Funcionario..." />
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-primary w-100">
                        Generar QR
                    </button>
                </div>
            </form>
        </div>


        @if (Model.CodigoQR != null && Model.CodigoQR != "")
        {
            <div>
                <img alt="qrgenerator" class="img-fluid" src="@string.Format("data:image/png;base64,{0}", @Model.CodigoQR)" height="300" width="300" />
            </div>
            <div>
                <label id="nombreArchivo">@Model.NombreFuncionario</label>
            </div>
            <div>
                @if (Model.UrlContrato != "")
                {
                    <a href="@Model.UrlContrato" target="_blank">Contrato</a>
                }

            </div>
        }
        else
        {
            <p class="text-danger">
                @ViewData["mensaje"]
            </p>
        }
    </div>
</div>


